<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433987706595-iv0ki2o3hcbt0pegimo7be5ui3msgb2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433987706595-iv0ki2o3hcbt0pegimo7be5ui3msgb2q</string>
	<key>API_KEY</key>
	<string>AIzaSyAd5O0l3Iu_GxeuqVrTNWFyQqoGbnC3CiE</string>
	<key>GCM_SENDER_ID</key>
	<string>433987706595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skyblue.Rubit</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-cb68c</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-cb68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:433987706595:ios:cbf85526b84165de</string>
	<key>DATABASE_URL</key>
	<string>https://push-notifications-cb68c.firebaseio.com</string>
</dict>
</plist>